In [52]:
import numpy as np
import pandas as pd

In [53]:
import warnings
warnings.filterwarnings('ignore')

In [54]:
FILE_PATH = r'C:\Users\Admin\PycharmProjects\Money_flow_diagram\Real-data\CFQLKD.xlsx'
CFQLKD = pd.ExcelFile(FILE_PATH)
sheet_names = CFQLKD.sheet_names

In [55]:
sheet_names

['CPQLKD trực tiếp T9-12',
 'PB Giai đoạn 1 T12',
 'PB Giai đoạn 1 T11',
 'PB Giai đoạn 1 T10',
 'PB Giai đoạn 1 T9']

## Clear data chi phí kinh doanh trực tiếp

In [56]:
cftt_df = CFQLKD.parse(0)

In [57]:
cftt_df['Tháng'] = pd.to_datetime(cftt_df['Tháng']).dt.strftime('%Y/%m')
cftt_df = cftt_df[['Tháng', 'Mã đơn vị tổ chức cấp 5', 'Mã đơn vị tổ chức cấp 6', 'Chi phí quản lý kinh doanh trực tiếp']]
cftt_df

,Tháng,Mã đơn vị tổ chức cấp 5,Mã đơn vị tổ chức cấp 6,Chi phí quản lý kinh doanh trực tiếp
0,2023/09,111,111100111021,3.629632e+08
1,2023/09,111,112100111121,4.044196e+08
2,2023/09,111,112100111150,4.921828e+08
3,2023/09,111,112100111151,4.271701e+08
4,2023/09,111,114600111335,1.710625e+08
...,...,...,...,...
11516,2023/12,996,123500996844,2.137475e+09
11517,2023/12,996,123500996845,2.705790e+09
11518,2023/12,996,124200996310,1.301585e+10
11519,2023/12,996,124200996311,1.284771e+09
11520,2023/12,996,99699,1.050754e+08

## Clear chi phí phân bổ in/out của từng trung tâm

In [58]:
flow_9_df = pd.read_excel(FILE_PATH, sheet_name= 'PB Giai đoạn 1 T9')
flow_9_df.head()

,Khối / OU Level 2,Ban / OU Level 3,Trung tâm / OU Level 4,Trung tâm phân bổ đi / From MPA Org unit,Thực hiện trong kỳ / Actual this term,Kế hoạch / Budget,Thực hiện kỳ trước / Actual last term,Cùng kỳ năm trước / Same period last year,% so với KH / Compare to budget,% so với kỳ trước / Compare to last term,% so với cùng kỳ / Compare to same period last year
0,10 - KHOI DAU TU,1000001 - KHOI DAU TU HSC,110100996250 - BDS 996_BAN QUAN LY DAU TU,115500996430 - BDS 996_TRUNG TAM DICH VU KHACH...,2.638112e+07,0,0,0,0,0,0
1,10 - KHOI DAU TU,1000001 - KHOI DAU TU HSC,110100996250 - BDS 996_BAN QUAN LY DAU TU,116500996510 - BDS 996_BAN TAI CHINH,7.543460e+06,0,0,0,0,0,0
2,10 - KHOI DAU TU,1000001 - KHOI DAU TU HSC,110100996250 - BDS 996_BAN QUAN LY DAU TU,116500996560 - BDS 996_BAN KE HOACH,2.785471e+07,0,0,0,0,0,0
3,10 - KHOI DAU TU,1000001 - KHOI DAU TU HSC,110100996250 - BDS 996_BAN QUAN LY DAU TU,117400071000 - TRUNG TAM CNTT_400,2.628286e+07,0,0,0,0,0,0
4,10 - KHOI DAU TU,1000001 - KHOI DAU TU HSC,110100996250 - BDS 996_BAN QUAN LY DAU TU,117400996690 - BDS 996_VAN PHONG,7.894149e+07,0,0,0,0,0,0

In [59]:
# flow_9_df['Tháng'] = '2023/9'
# flow_9_df = flow_9_df[['Tháng', 'Trung tâm / OU Level 4', 'Trung tâm phân bổ đi / From MPA Org unit', 'Thực hiện trong kỳ / Actual this term']]
# flow_9_df['Trung tâm / OU Level 4'] = flow_9_df['Trung tâm / OU Level 4'].str.split(' - ').str[0]
# flow_9_df['Trung tâm phân bổ đi / From MPA Org unit'] = flow_9_df['Trung tâm phân bổ đi / From MPA Org unit'].str.split(' - ').str[0]
# flow_9_df

In [60]:
# flow_in_9_df = flow_9_df[['Tháng', 'Trung tâm / OU Level 4', 'Thực hiện trong kỳ / Actual this term']]
# flow_in_9_df.rename({'Trung tâm / OU Level 4': 'Mã đơn vị tổ chức cấp 6',
#                      'Thực hiện trong kỳ / Actual this term': 'Chi phí'}, axis= 1, inplace= True)

# flow_out_9_df = flow_9_df[['Tháng', 'Trung tâm phân bổ đi / From MPA Org unit', 'Thực hiện trong kỳ / Actual this term']]
# flow_out_9_df['Thực hiện trong kỳ / Actual this term'] = flow_out_9_df['Thực hiện trong kỳ / Actual this term'] * -1
# flow_out_9_df.rename({'Trung tâm phân bổ đi / From MPA Org unit': 'Mã đơn vị tổ chức cấp 6',
#                      'Thực hiện trong kỳ / Actual this term': 'Chi phí'}, axis= 1, inplace= True)

In [61]:
def return_in_out_df(df, date):
    df['Tháng'] = date
    df = df[['Tháng', 'Trung tâm / OU Level 4', 'Trung tâm phân bổ đi / From MPA Org unit', 'Thực hiện trong kỳ / Actual this term']]
    df['Trung tâm / OU Level 4'] = df['Trung tâm / OU Level 4'].str.split(' - ').str[0]
    df['Trung tâm phân bổ đi / From MPA Org unit'] = df['Trung tâm phân bổ đi / From MPA Org unit'].str.split(' - ').str[0]

    flow_in_df = df[['Tháng', 'Trung tâm / OU Level 4', 'Thực hiện trong kỳ / Actual this term']]
    flow_in_df.rename({'Trung tâm / OU Level 4': 'Mã đơn vị tổ chức cấp 6',
                        'Thực hiện trong kỳ / Actual this term': 'Chi phí'}, axis= 1, inplace= True)

    flow_out_df = df[['Tháng', 'Trung tâm phân bổ đi / From MPA Org unit', 'Thực hiện trong kỳ / Actual this term']]
    flow_out_df['Thực hiện trong kỳ / Actual this term'] = flow_out_df['Thực hiện trong kỳ / Actual this term'] * -1
    flow_out_df.rename({'Trung tâm phân bổ đi / From MPA Org unit': 'Mã đơn vị tổ chức cấp 6',
                        'Thực hiện trong kỳ / Actual this term': 'Chi phí'}, axis= 1, inplace= True)
    return flow_in_df, flow_out_df

In [62]:
flow_9_df = pd.read_excel(FILE_PATH, sheet_name= 'PB Giai đoạn 1 T9')
flow_10_df = pd.read_excel(FILE_PATH, sheet_name= 'PB Giai đoạn 1 T10')
flow_11_df = pd.read_excel(FILE_PATH, sheet_name= 'PB Giai đoạn 1 T11')
flow_11_df.rename({'Trung tâm nhận phân bổ / OU Level 4': 'Trung tâm / OU Level 4'}, axis= 1, inplace= True)
flow_12_df = pd.read_excel(FILE_PATH, sheet_name= 'PB Giai đoạn 1 T12')
flow_12_df.rename({'Trung tâm nhận phân bổ/ OU Level 4': 'Trung tâm / OU Level 4'}, axis= 1, inplace= True) 

flow_in_9_df, flow_out_9_df = return_in_out_df(flow_9_df, '2023/09')
flow_in_10_df, flow_out_10_df = return_in_out_df(flow_10_df, '2023/10')
flow_in_11_df, flow_out_11_df = return_in_out_df(flow_11_df, '2023/11')
flow_in_12_df, flow_out_12_df = return_in_out_df(flow_12_df, '2023/12')

In [63]:
cftt_9_df = cftt_df #[cftt_df['Tháng'] == '2023/10']
cftt_9_df.rename({'Chi phí quản lý kinh doanh trực tiếp': 'Chi phí'}, axis= 1, inplace= True)
cftt_9_df.drop('Mã đơn vị tổ chức cấp 5', axis=1, inplace= True)
cftt_9_df['Mã đơn vị tổ chức cấp 6'] = cftt_9_df['Mã đơn vị tổ chức cấp 6'].astype(str)
cftt_9_df.head()

     Tháng Mã đơn vị tổ chức cấp 6      Chi phí
0  2023/09            111100111021  362963229.0
1  2023/09            112100111121  404419606.0
2  2023/09            112100111150  492182807.0
3  2023/09            112100111151  427170074.0
4  2023/09            114600111335  171062521.0

In [64]:
concat_flow_df = pd.concat([flow_in_9_df, flow_out_9_df,
                            flow_in_10_df, flow_out_10_df,
                            flow_in_11_df, flow_out_11_df,
                            flow_in_12_df, flow_out_12_df, cftt_9_df])
# flow_sum_df = pd.concat([flow_sum_df, cftt_9_df])
concat_flow_df

         Tháng Mã đơn vị tổ chức cấp 6       Chi phí
0      2023/09            110100996250  2.638112e+07
1      2023/09            110100996250  7.543460e+06
2      2023/09            110100996250  2.785471e+07
3      2023/09            110100996250  2.628286e+07
4      2023/09            110100996250  7.894149e+07
...        ...                     ...           ...
11516  2023/12            123500996844  2.137475e+09
11517  2023/12            123500996845  2.705790e+09
11518  2023/12            124200996310  1.301585e+10
11519  2023/12            124200996311  1.284771e+09
11520  2023/12                   99699  1.050754e+08

[15873 rows x 3 columns]

In [65]:
cf_9_df = concat_flow_df.groupby(['Tháng', 'Mã đơn vị tổ chức cấp 6']).agg({'Chi phí': 'sum'}).reset_index()
cf_9_df

         Tháng Mã đơn vị tổ chức cấp 6       Chi phí
0      2023/09            110100996250  1.936047e+09
1      2023/09            110300990000  1.356031e+09
2      2023/09            111000996012  0.000000e+00
3      2023/09            111000996016  0.000000e+00
4      2023/09            111000996040  0.000000e+00
...        ...                     ...           ...
11565  2023/12                   73799  1.980777e+06
11566  2023/12                   76099  2.700000e+05
11567  2023/12                   78899  3.235380e+06
11568  2023/12                   87899  2.417856e+09
11569  2023/12                   99699  1.050754e+08

[11570 rows x 3 columns]

In [66]:
cfpb_df = pd.read_excel(r'C:\Users\Admin\PycharmProjects\Money_flow_diagram\Real-data\PB_CF_to_SP_NKH.xlsx')
cfpb_df.head(5)

,Tháng,Mã đơn vị tổ chức cấp 5,Tên đơn vị tổ chức cấp 5,Mã đơn vị tổ chức cấp 6,Tên đơn vị tổ chức cấp 6,Mã SP cấp 5,Tên SP cấp 5,Mã phân khúc KH cấp 3,Tên phân khúc KH cấp 3,Chi phí nhận phân bổ tại thời điểm
0,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,20010501.0,CHO VAY THE TIN DUNG,22,KHACH HANG CA NHAN VIP,3.800000e-01
1,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,20030101.0,CHO VAY SXKD THONG THUONG,11,KHACH HANG DOANH NGHIEP LON,4.333343e+07
2,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,20030101.0,CHO VAY SXKD THONG THUONG,12,KHACH HANG DOANH NGHIEP VUA VA NHO (SMEs),2.035640e+08
3,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,20030101.0,CHO VAY SXKD THONG THUONG,24,KHACH HANG DOANH NGHIEP QUY MO SIEU NHO (ME),1.533729e+05
4,2023 / 09,111,CN TRUNG TAM SAI GON,111100111021,PHONG KHACH HANG DOANH NGHIEP_CN TRUNG TAM SAI...,20030129.0,GOI TIN DUNG KHDN 2019,11,KHACH HANG DOANH NGHIEP LON,3.475100e+01

In [67]:
cfpb_df['Tháng'] = pd.to_datetime(cfpb_df['Tháng']).dt.strftime('%Y/%m')
cfpb_df['Mã đơn vị tổ chức cấp 6'] = cfpb_df['Mã đơn vị tổ chức cấp 6'].astype(str)
cfpb_9_df = cfpb_df #[cfpb_df['Tháng'] == '2023/9']

In [68]:
cfpb_9_summary_df = cfpb_9_df.groupby(['Tháng', 'Mã đơn vị tổ chức cấp 6'])['Chi phí nhận phân bổ tại thời điểm'].sum().reset_index()
cfpb_9_summary_df

        Tháng Mã đơn vị tổ chức cấp 6  Chi phí nhận phân bổ tại thời điểm
0     2023/09            110100996250                        1.936047e+09
1     2023/09            111100111021                        3.629632e+08
2     2023/09            111100116021                        4.970613e+08
3     2023/09            111100117021                        6.905285e+08
4     2023/09            111100118021                        5.833570e+08
...       ...                     ...                                 ...
7669  2023/12            119000315000                        5.971006e+09
7670  2023/12            119000317000                        1.362376e+09
7671  2023/12            119000318000                        3.820926e+09
7672  2023/12            119000319000                        1.042604e+09
7673  2023/12            119000321000                        5.967596e+09

[7674 rows x 3 columns]

In [69]:
result_1 = pd.merge(cf_9_df, cfpb_9_summary_df, how='outer', on=['Tháng', 'Mã đơn vị tổ chức cấp 6'])
result_1

,Tháng,Mã đơn vị tổ chức cấp 6,Chi phí,Chi phí nhận phân bổ tại thời điểm
0,2023/09,110100996250,1.936047e+09,1.936047e+09
1,2023/09,110300990000,1.356031e+09,NaN
2,2023/09,111000996012,0.000000e+00,NaN
3,2023/09,111000996016,0.000000e+00,NaN
4,2023/09,111000996040,0.000000e+00,NaN
...,...,...,...,...
11566,2023/12,76099,2.700000e+05,NaN
11567,2023/12,78899,3.235380e+06,NaN
11568,2023/12,87899,2.417856e+09,NaN
11569,2023/12,99699,1.050754e+08,NaN
11570,2023/10,119000780000,NaN,1.651256e+09

In [70]:
def cat_ma_don_vi(x):
    if len(x) == 12:
        return x[6:9]
    else:
        return x[-5:-2]
    
def cat_ma_phong(x):
    if len(x) == 12:
        return x[9:]
    else:
        return x[-2:]

In [71]:
result_1['CODE_BDS'] = result_1['Mã đơn vị tổ chức cấp 6'].apply(cat_ma_don_vi)
result_1['CODE_PHONG'] = result_1['Mã đơn vị tổ chức cấp 6'].apply(cat_ma_phong)

In [72]:
result_1 = result_1[['Tháng', 'Mã đơn vị tổ chức cấp 6', 'CODE_BDS', 'CODE_PHONG', 
                    'Chi phí', 'Chi phí nhận phân bổ tại thời điểm']]

In [73]:
# Fillna == 0 với những row không tính được chi phí phân bổ
result_1['Chi phí nhận phân bổ tại thời điểm'].fillna(0, inplace= True)

In [74]:
result_1['diff'] = result_1['Chi phí'] - result_1['Chi phí nhận phân bổ tại thời điểm']
result_1.head(5)

,Tháng,Mã đơn vị tổ chức cấp 6,CODE_BDS,CODE_PHONG,Chi phí,Chi phí nhận phân bổ tại thời điểm,diff
0,2023/09,110100996250,996,250,1.936047e+09,1.936047e+09,-2.600002e-02
1,2023/09,110300990000,990,000,1.356031e+09,0.000000e+00,1.356031e+09
2,2023/09,111000996012,996,012,0.000000e+00,0.000000e+00,0.000000e+00
3,2023/09,111000996016,996,016,0.000000e+00,0.000000e+00,0.000000e+00
4,2023/09,111000996040,996,040,0.000000e+00,0.000000e+00,0.000000e+00

In [75]:
# result_1.to_excel("Output all.xlsx", index= False)

In [76]:
filter_df = result_1 #[~result_1['CODE_BDS'].isin(['990', '996', '998', '999'])]
filter_df.head()

,Tháng,Mã đơn vị tổ chức cấp 6,CODE_BDS,CODE_PHONG,Chi phí,Chi phí nhận phân bổ tại thời điểm,diff
0,2023/09,110100996250,996,250,1.936047e+09,1.936047e+09,-2.600002e-02
1,2023/09,110300990000,990,000,1.356031e+09,0.000000e+00,1.356031e+09
2,2023/09,111000996012,996,012,0.000000e+00,0.000000e+00,0.000000e+00
3,2023/09,111000996016,996,016,0.000000e+00,0.000000e+00,0.000000e+00
4,2023/09,111000996040,996,040,0.000000e+00,0.000000e+00,0.000000e+00

In [77]:
filter_df.to_excel('Output 7 test.xlsx', index= False)

In [78]:
#filter_df['Chi phí'] = filter_df['Chi phí nhận phân bổ tại thời điểm']

In [79]:
filter_df['diff'] = filter_df['Chi phí'] - filter_df['Chi phí nhận phân bổ tại thời điểm']

In [80]:
# filter_df.to_excel('Output all test.xlsx', index= False)

In [81]:
cfpb_9_df[cfpb_9_df['Mã đơn vị tổ chức cấp 6'] == '117700119698']

,Tháng,Mã đơn vị tổ chức cấp 5,Tên đơn vị tổ chức cấp 5,Mã đơn vị tổ chức cấp 6,Tên đơn vị tổ chức cấp 6,Mã SP cấp 5,Tên SP cấp 5,Mã phân khúc KH cấp 3,Tên phân khúc KH cấp 3,Chi phí nhận phân bổ tại thời điểm
5771,2023/09,119,CN NAM KY KHOI NGHIA,117700119698,PHONG TO CHUC HANH CHINH_CN NAM KY KHOI NGHIA,21020499.0,DUMMY_TIEN GUI CO KY HAN,99,UNALLOCABLE,46000000.0
311301,2023/10,119,CN NAM KY KHOI NGHIA,117700119698,PHONG TO CHUC HANH CHINH_CN NAM KY KHOI NGHIA,21020499.0,DUMMY_TIEN GUI CO KY HAN,99,UNALLOCABLE,49500000.0

In [82]:
test1_df = result_1[result_1['CODE_BDS'] == '119']
test1_df

,Tháng,Mã đơn vị tổ chức cấp 6,CODE_BDS,CODE_PHONG,Chi phí,Chi phí nhận phân bổ tại thời điểm,diff
9,2023/09,111100119021,119,021,1.789061e+09,1.789061e+09,9.999990e-03
10,2023/09,111100119027,119,027,9.768726e+08,9.768726e+08,6.000042e-03
369,2023/09,112100119121,119,121,4.645513e+08,4.645513e+08,-4.999995e-03
370,2023/09,112100119150,119,150,3.426902e+08,3.426902e+08,-5.000001e-02
371,2023/09,112100119151,119,151,3.346524e+08,3.346524e+08,-9.999871e-04
372,2023/09,112100119152,119,152,3.965857e+08,3.965857e+08,-2.100003e-02
1544,2023/09,114600119335,119,335,2.629172e+08,2.629172e+08,2.400002e-02
1747,2023/09,115600119440,119,440,3.953856e+08,3.953856e+08,-4.399997e-02
1748,2023/09,115600119446,119,446,1.664903e+08,1.664903e+08,-2.000001e-02
2119,2023/09,115700119465,119,465,2.541369e+08,0.000000e+00,2.541369e+08
2152,2023/09,116700119521,119,521,6.443678e+08,0.000000e+00,6.443678e+08
2271,2023/09,117700119698,119,698,3.022853e+09,4.600000e+07,2.976853e+09
2460,2023/09,119000119000,119,000,1.805125e+08,4.618902e+09,-4.438390e+09
2659,2023/09,11999,119,99,-8.627796e+06,0.000000e+00,-8.627796e+06
2668,2023/09,120700119950,119,950,5.716598e+08,0.000000e+00,5.716598e+08
2896,2023/10,111100119021,119,021,9.747735e+08,9.747735e+08,0.000000e+00
2897,2023/10,111100119027,119,027,6.202708e+08,6.202708e+08,-1.999974e-03
3259,2023/10,112100119121,119,121,3.537965e+08,3.537965e+08,7.000029e-03
3260,2023/10,112100119150,119,150,3.726067e+08,3.726067e+08,3.000021e-03
3261,2023/10,112100119151,119,151,2.650377e+08,2.650377e+08,1.299998e-02
3262,2023/10,112100119152,119,152,4.228945e+08,4.228945e+08,1.099998e-02
4432,2023/10,114600119335,119,335,2.242584e+08,2.242584e+08,-2.000004e-03
4634,2023/10,115600119440,119,440,2.790998e+08,2.790998e+08,-1.300001e-02
4635,2023/10,115600119446,119,446,1.061948e+08,1.061948e+08,4.999995e-03
5006,2023/10,115700119465,119,465,1.450268e+08,0.000000e+00,1.450268e+08
5040,2023/10,116700119521,119,521,2.317345e+08,0.000000e+00,2.317345e+08
5159,2023/10,117700119698,119,698,3.175828e+09,4.950000e+07,3.126328e+09
5351,2023/10,119000119000,119,000,1.517666e+07,3.966814e+09,-3.951637e+09
5557,2023/10,120700119950,119,950,4.485473e+08,0.000000e+00,4.485473e+08
5790,2023/11,111100119021,119,021,1.837453e+09,1.837453e+09,7.000208e-03
5791,2023/11,111100119027,119,027,1.589294e+09,1.589294e+09,-1.599979e-02
6153,2023/11,112100119121,119,121,4.047679e+08,4.047679e+08,-3.999949e-03
6154,2023/11,112100119150,119,150,6.527589e+08,6.527589e+08,-1.699996e-02
6155,2023/11,112100119151,119,151,3.203612e+08,3.203612e+08,2.200001e-02
6156,2023/11,112100119152,119,152,6.842661e+08,6.842661e+08,1.900005e-02
7327,2023/11,114600119335,119,335,3.358092e+08,3.358092e+08,1.499999e-02
7529,2023/11,115600119440,119,440,4.550635e+08,4.550635e+08,3.099996e-02
7530,2023/11,115600119446,119,446,1.827968e+08,1.827968e+08,2.000004e-03
7901,2023/11,115700119465,119,465,2.793536e+08,0.000000e+00,2.793536e+08
7933,2023/11,116700119521,119,521,7.503604e+08,0.000000e+00,7.503604e+08
8049,2023/11,117700119698,119,698,3.844655e+09,0.000000e+00,3.844655e+09
8240,2023/11,119000119000,119,000,2.319958e+09,7.849246e+09,-5.529288e+09
8447,2023/11,120700119950,119,950,6.217125e+08,0.000000e+00,6.217125e+08
8679,2023/12,111100119021,119,021,3.660899e+08,3.660899e+08,9.999871e-04
8680,2023/12,111100119027,119,027,2.708581e+08,2.708581e+08,-9.000003e-03
9047,2023/12,112100119121,119,121,4.107363e+08,4.107363e+08,4.999995e-03
9048,2023/12,112100119150,119,150,3.552582e+08,3.552582e+08,-1.999974e-03
9049,2023/12,112100119151,119,151,2.275998e+08,2.275998e+08,-2.999991e-03
9050,2023/12,112100119152,119,152,3.586608e+08,3.586608e+08,-9.999990e-03
10224,2023/12,114600119335,119,335,2.233968e+08,2.233968e+08,-1.899999e-02
10425,2023/12,115600119440,119,440,3.542119e+08,3.542119e+08,-2.400005e-02
10426,2023/12,115600119446,119,446,1.550188e+08,1.550188e+08,-2.000004e-03
10796,2023/12,115700119465,119,465,2.779399e+08,0.000000e+00,2.779399e+08
10831,2023/12,116700119521,119,521,3.128149e+08,0.000000e+00,3.128149e+08
10950,2023/12,117700119698,119,698,5.073338e+09,0.000000e+00,5.073338e+09
11140,2023/12,119000119000,119,000,-2.316766e+09,3.985765e+09,-6.302531e+09
11347,2023/12,120700119950,119,950,5.633632e+08,0.000000e+00,5.633632e+08

In [83]:
flow_out_9_df['CODE_BDS'] = flow_out_9_df['Mã đơn vị tổ chức cấp 6'].apply(cat_ma_don_vi)
flow_out_9_df['CODE_PHONG'] = flow_out_9_df['Mã đơn vị tổ chức cấp 6'].apply(cat_ma_phong)
flow_out_9_df

       Tháng Mã đơn vị tổ chức cấp 6       Chi phí CODE_BDS CODE_PHONG
0    2023/09            115500996430 -2.638112e+07      996        430
1    2023/09            116500996510 -7.543460e+06      996        510
2    2023/09            116500996560 -2.785471e+07      996        560
3    2023/09            117400071000 -2.628286e+07      071        000
4    2023/09            117400996690 -7.894149e+07      996        690
..       ...                     ...           ...      ...        ...
518  2023/09            117400996690 -6.916778e+08      996        690
519  2023/09            122400996221 -5.289838e+07      996        221
520  2023/09            117400071000 -1.606540e+09      071        000
521  2023/09            117400996690 -1.691603e+08      996        690
522  2023/09            122400996221 -5.409471e+06      996        221

[523 rows x 5 columns]

In [84]:
flow_out_df = pd.concat([flow_out_9_df, flow_out_10_df, flow_out_11_df, flow_out_12_df])
flow_out_df['CODE_BDS'] = flow_out_df['Mã đơn vị tổ chức cấp 6'].apply(cat_ma_don_vi)
flow_out_df['CODE_PHONG'] = flow_out_df['Mã đơn vị tổ chức cấp 6'].apply(cat_ma_phong)
flow_out_df

       Tháng Mã đơn vị tổ chức cấp 6       Chi phí CODE_BDS CODE_PHONG
0    2023/09            115500996430 -2.638112e+07      996        430
1    2023/09            116500996510 -7.543460e+06      996        510
2    2023/09            116500996560 -2.785471e+07      996        560
3    2023/09            117400071000 -2.628286e+07      071        000
4    2023/09            117400996690 -7.894149e+07      996        690
..       ...                     ...           ...      ...        ...
553  2023/12            117400996690 -5.641082e+07      996        690
554  2023/12            117400071000 -6.510564e+09      071        000
555  2023/12            117400996690 -1.092960e+09      996        690
556  2023/12            122400996221 -1.840602e+07      996        221
557  2023/12            117400996690 -1.410270e+08      996        690

[2176 rows x 5 columns]

In [85]:
flow_out_df = flow_out_df.groupby(['Tháng', 'Mã đơn vị tổ chức cấp 6', 'CODE_BDS', 'CODE_PHONG'])['Chi phí'].sum().reset_index()

In [95]:
flow_out_df['Mã đơn vị tổ chức cấp 6'].unique()

array(['111400996010', '111500996040', '112500996180', '112500996192',
       '113400996210', '114500996320', '115500996430', '115500996460',
       '115500998460', '116500996510', '116500996530', '116500996540',
       '116500996560', '117400071000', '117400996690', '117500072000',
       '117500073000', '117500131000', '117500990621', '117500996601',
       '117500996620', '117500996630', '117500996640', '117500996651',
       '117500996652', '117500996670', '117500996680', '117500996790',
       '117500996791', '117500996792', '119000990000', '119000996000',
       '120500996910', '120500996920', '120500996930', '122400996221',
       '122500996222', '123500996840', '123500996841', '123500996842',
       '123500996843', '123500996844', '123500996845', '121500996830',
       '122500996223', '121500996831'], dtype=object)

In [96]:
flow_out_df[flow_out_df['CODE_BDS'] == '131']

       Tháng Mã đơn vị tổ chức cấp 6 CODE_BDS CODE_PHONG       Chi phí
17   2023/09            117500131000      131        000 -7.630728e+09
60   2023/10            117500131000      131        000 -1.605912e+10
102  2023/11            117500131000      131        000 -1.601669e+10
145  2023/12            117500131000      131        000 -1.886131e+10

In [86]:
filter_df.merge(flow_out_df, how= 'left', 
                left_on=['Tháng', 'Mã đơn vị tổ chức cấp 6', 'CODE_BDS', 'CODE_PHONG'], 
                right_on=['Tháng', 'Mã đơn vị tổ chức cấp 6', 'CODE_BDS', 'CODE_PHONG']).to_excel('test_v5.xlsx', index= False)

In [87]:
flow_filter_out_9_df = flow_out_9_df[~flow_out_9_df['CODE_BDS'].isin(['990', '996', '998', '999'])]

In [88]:
flow_filter_out_9_df['Mã đơn vị tổ chức cấp 6'].unique()

array(['117400071000', '117500072000', '117500073000', '117500131000'],
      dtype=object)

In [89]:
flow_filter_out_9_total_df = flow_filter_out_9_df.groupby(['Tháng', 'Mã đơn vị tổ chức cấp 6', 'CODE_BDS', 'CODE_PHONG'])['Chi phí'].sum().reset_index()
flow_filter_out_9_total_df

     Tháng Mã đơn vị tổ chức cấp 6 CODE_BDS CODE_PHONG       Chi phí
0  2023/09            117400071000      071        000 -3.285357e+10
1  2023/09            117500072000      072        000 -9.605137e+09
2  2023/09            117500073000      073        000 -1.258958e+09
3  2023/09            117500131000      131        000 -7.630728e+09

In [90]:
flow_filter_out_9_total_df.columns

Index(['Tháng', 'Mã đơn vị tổ chức cấp 6', 'CODE_BDS', 'CODE_PHONG',
       'Chi phí'],
      dtype='object')

In [91]:
flow_filter_out_9_total_df

     Tháng Mã đơn vị tổ chức cấp 6 CODE_BDS CODE_PHONG       Chi phí
0  2023/09            117400071000      071        000 -3.285357e+10
1  2023/09            117500072000      072        000 -9.605137e+09
2  2023/09            117500073000      073        000 -1.258958e+09
3  2023/09            117500131000      131        000 -7.630728e+09

In [92]:
# filter_df.merge(flow_filter_out_9_total_df, how= 'left', 
#                 left_on=['Tháng', 'Mã đơn vị tổ chức cấp 6', 'CODE_BDS', 'CODE_PHONG'], 
#                 right_on=['Tháng', 'Mã đơn vị tổ chức cấp 6', 'CODE_BDS', 'CODE_PHONG']).to_excel('test_v6.xlsx', index= False)